{# Generic renderer for boxes / portlets #}

{%- set color_map = dict(blue="info", green="success", orange="warning", red="danger",
                         primary="primary", info="info", success="success",
                         warning="warning", danger="danger", cls="") %}

{%- macro m_box(title, color="", href=None, icon_class="") %}
  <!-- begin box "{{ title }}" -->
  {# Map Bootstrap colors to our new card variants if needed #}
  {% set card_class = 'card-danger' if color in ['red', 'danger'] else 'card' %}
  <div class="{{ card_class }}">
    {%- if title %}
      <div class="card-header">
        <h5 class="tw-font-bold tw-text-lg"> {# Use utilities for title styling #}
          {%- if href %}<a href="{{ href }}">{%- endif %}
          {%- if icon_class -%}<span class="{{ icon_class }}"></span>{% endif %}
          {{ title }}
          {%- if href %}</a>{%- endif %}
        </h5>
      </div>
    {%- endif %}

    <div class="card-body">
      {{ caller() }}
    </div>
  </div>
  <!-- end box "{{ title }}" -->
{%- endmacro %}

{%- macro m_box_menu(title=None, color="green", omit_body=False) %}
  <!-- begin menu box "{{ title }}" -->
  {% set card_class = 'card-danger' if color in ['red', 'danger'] else 'card' %}
  <div class="{{ card_class }}">
    <div class="card-header">
      <h5 class="tw-font-bold tw-text-lg">{{ title or _('Menu') }}</h5>
    </div>

    {%- if not omit_body %}
      <div class="card-body">
    {%- endif %}
    {{ caller() }}
    {%- if not omit_body %}
      </div>
    {%- endif %}
  </div>
  <!-- end menu box "{{ title }}" -->
{%- endmacro %}


{%- macro m_box_forum(title=None, color="green", omit_body=False) %}
  <!-- begin menu box "{{ title }}" -->
  {{ caller() }}
  <!-- end menu box "{{ title }}" -->
{%- endmacro %}


{%- macro m_box_content(title=None, color="blue") %}
  <!-- begin box "{{ title }}" -->
  {% set card_class = 'card-danger' if color in ['red', 'danger'] else 'card' %}
  <div class="{{ card_class }}">
    {%- if title %}
      <div class="card-header">
        <h5 class="tw-font-bold tw-text-lg">{{ title }}</h5>
      </div>
    {%- endif %}

    <div class="card-body">
      {{ caller() }}
    </div>
  </div>
  <div class="tw-clear-both"></div>
  <!-- end box "{{ title }}" -->
{%- endmacro %}
