# Cruft
.DS_Store
.cache
.coverage
.idea
.mypy_cache
.tox
.vagrant
.venv
*.pyc
*.egg
*.egg-info
*.swp
*.prof
*.stats
*.mo
*,cover
/.eggs/
coverage.xml
package-lock.json
yarn.lock

# Secret
config
.env
ssl
sandbox
.envrc


# More
instance
node_modules
env
whoosh*
abilian.db
tmp
cache
dist
tests/cache
tests/tmp
tests/extra_files
maxid.data
results
build
MANIFEST
docs/_build
htmlcov

# Generated
/src/abilian/static/misc*
/src/abilian/static/.webassets-cache
/src/abilian/static/gen
/src/abilian/static/placeholders

# Local development
/dev-scripts/
/front/
/script/
/scripts/
/sync.py

# Cruft
/src/abilian/sbe/apps/documents/tests/data/dummy_files/existing-doc/
/src/abilian/sbe/apps/documents/tests/data/dummy_files/folder 1/
