alembic==1.8.1 ; python_version >= "3.9" and python_version < "4.0"
amqp==5.1.1 ; python_version >= "3.9" and python_version < "4.0"
asttokens==2.2.1 ; python_version >= "3.9" and python_version < "4.0"
babel==2.11.0 ; python_version >= "3.9" and python_version < "4.0"
bcrypt==4.0.1 ; python_version >= "3.9" and python_version < "4.0"
billiard==3.6.4.0 ; python_version >= "3.9" and python_version < "4.0"
bleach[css]==5.0.1 ; python_version >= "3.9" and python_version < "4.0"
blinker==1.5 ; python_version >= "3.9" and python_version < "4.0"
celery==5.2.7 ; python_version >= "3.9" and python_version < "4.0"
certifi==2022.9.24 ; python_version >= "3.9" and python_version < "4.0"
chardet==5.1.0 ; python_version >= "3.9" and python_version < "4.0"
clamd==1.0.2 ; python_version >= "3.9" and python_version < "4.0"
click-didyoumean==0.3.0 ; python_version >= "3.9" and python_version < "4.0"
click-plugins==1.1.1 ; python_version >= "3.9" and python_version < "4.0"
click-repl==0.2.0 ; python_version >= "3.9" and python_version < "4.0"
click==8.1.3 ; python_version >= "3.9" and python_version < "4.0"
closure==20161201 ; python_version >= "3.9" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.9" and python_version < "4.0"
commonmark==0.9.1 ; python_version >= "3.9" and python_version < "4.0"
cssmin==0.2.0 ; python_version >= "3.9" and python_version < "4.0"
decorator==5.1.1 ; python_version >= "3.9" and python_version < "4.0"
deprecated==1.2.13 ; python_version >= "3.9" and python_version < "4.0"
devtools==0.8.0 ; python_version >= "3.9" and python_version < "4.0"
dnspython==2.2.1 ; python_version >= "3.9" and python_version < "4.0"
email-validator==1.3.0 ; python_version >= "3.9" and python_version < "4.0"
et-xmlfile==1.1.0 ; python_version >= "3.9" and python_version < "4.0"
executing==0.10.0 ; python_version >= "3.9" and python_version < "4.0"
flask-assets==0.12 ; python_version >= "3.9" and python_version < "4.0"
flask-babel==1.0.0 ; python_version >= "3.9" and python_version < "4.0"
flask-env==2.0.0 ; python_version >= "3.9" and python_version < "4.0"
flask-login==0.6.2 ; python_version >= "3.9" and python_version < "4.0"
flask-mail==0.9.1 ; python_version >= "3.9" and python_version < "4.0"
flask-migrate==4.0.0 ; python_version >= "3.9" and python_version < "4.0"
flask-sqlalchemy==2.1 ; python_version >= "3.9" and python_version < "4.0"
flask-tailwind==0.1.9 ; python_version >= "3.9" and python_version < "4"
flask-talisman==1.0.0 ; python_version >= "3.9" and python_version < "4.0"
flask-wtf==0.12 ; python_version >= "3.9" and python_version < "4.0"
flask==2.0.3 ; python_version >= "3.9" and python_version < "4.0"
gunicorn==20.1.0 ; python_version >= "3.9" and python_version < "4.0"
html2text==2020.1.16 ; python_version >= "3.9" and python_version < "4.0"
hyperlink==21.0.0 ; python_version >= "3.9" and python_version < "4.0"
icecream==2.1.3 ; python_version >= "3.9" and python_version < "4.0"
idna==3.4 ; python_version >= "3.9" and python_version < "4.0"
importlib-metadata==5.1.0 ; python_version >= "3.9" and python_version < "3.10"
importlib-resources==5.10.1 ; python_version >= "3.9" and python_version < "4.0"
infinity==1.5 ; python_version >= "3.9" and python_version < "4.0"
intervals==0.9.2 ; python_version >= "3.9" and python_version < "4.0"
itsdangerous==2.1.2 ; python_version >= "3.9" and python_version < "4.0"
jdcal==1.4.1 ; python_version >= "3.9" and python_version < "4.0"
jinja2==3.0.3 ; python_version >= "3.9" and python_version < "4.0"
jsmin==3.0.1 ; python_version >= "3.9" and python_version < "4.0"
kombu==5.2.4 ; python_version >= "3.9" and python_version < "4.0"
langid==1.1.6 ; python_version >= "3.9" and python_version < "4.0"
lxml==4.9.1 ; python_version >= "3.9" and python_version < "4.0"
mako==1.2.4 ; python_version >= "3.9" and python_version < "4.0"
markdown==3.4.1 ; python_version >= "3.9" and python_version < "4.0"
markupsafe==2.1.1 ; python_version >= "3.9" and python_version < "4.0"
numpy==1.23.5 ; python_version < "4.0" and python_version >= "3.9"
openpyxl==2.6.4 ; python_version >= "3.9" and python_version < "4.0"
pandas==1.5.2 ; python_version >= "3.9" and python_version < "4.0"
pillow==9.3.0 ; python_version >= "3.9" and python_version < "4.0"
pip==22.3.1 ; python_version >= "3.9" and python_version < "4.0"
prompt-toolkit==3.0.36 ; python_version >= "3.9" and python_version < "4.0"
psycopg2-binary==2.9.5 ; python_version >= "3.9" and python_version < "4.0"
pygeoip==0.3.2 ; python_version >= "3.9" and python_version < "4.0"
pygments==2.13.0 ; python_version >= "3.9" and python_version < "4.0"
python-dateutil==2.8.2 ; python_version >= "3.9" and python_version < "4.0"
python-dotenv==0.19.2 ; python_version >= "3.9" and python_version < "4.0"
python-magic==0.4.27 ; python_version >= "3.9" and python_version < "4.0"
pytz==2022.6 ; python_version >= "3.9" and python_version < "4.0"
pyyaml==6.0 ; python_version >= "3.9" and python_version < "4.0"
raven==6.10.0 ; python_version >= "3.9" and python_version < "4.0"
redis==3.5.3 ; python_version >= "3.9" and python_version < "4.0"
rich==12.6.0 ; python_version >= "3.9" and python_version < "4.0"
sentry-sdk[flask]==1.11.1 ; python_version >= "3.9" and python_version < "4.0"
setuptools==65.6.3 ; python_version >= "3.9" and python_version < "4.0"
six==1.16.0 ; python_version >= "3.9" and python_version < "4.0"
sqlalchemy-utils==0.38.3 ; python_version >= "3.9" and python_version < "4.0"
sqlalchemy==1.3.24 ; python_version >= "3.9" and python_version < "4.0"
sqlparse==0.4.3 ; python_version >= "3.9" and python_version < "4.0"
tinycss2==1.1.1 ; python_version >= "3.9" and python_version < "4.0"
toml==0.10.2 ; python_version >= "3.9" and python_version < "4.0"
toolz==0.12.0 ; python_version >= "3.9" and python_version < "4.0"
tqdm==4.64.1 ; python_version >= "3.9" and python_version < "4.0"
urllib3==1.26.13 ; python_version >= "3.9" and python_version < "4.0"
validate-email==1.3 ; python_version >= "3.9" and python_version < "4.0"
validators==0.20.0 ; python_version >= "3.9" and python_version < "4.0"
vine==5.0.0 ; python_version >= "3.9" and python_version < "4.0"
wcwidth==0.2.5 ; python_version >= "3.9" and python_version < "4.0"
webassets==0.12.1 ; python_version >= "3.9" and python_version < "4.0"
webencodings==0.5.1 ; python_version >= "3.9" and python_version < "4.0"
werkzeug==2.0.3 ; python_version >= "3.9" and python_version < "4.0"
whoosh==2.7.4 ; python_version >= "3.9" and python_version < "4.0"
wrapt==1.14.1 ; python_version >= "3.9" and python_version < "4.0"
wtforms-alchemy==0.17.0 ; python_version >= "3.9" and python_version < "4.0"
wtforms-components==0.10.5 ; python_version >= "3.9" and python_version < "4.0"
wtforms-sqlalchemy==0.3 ; python_version >= "3.9" and python_version < "4.0"
wtforms==2.1 ; python_version >= "3.9" and python_version < "4.0"
xlwt==1.3.0 ; python_version >= "3.9" and python_version < "4.0"
zipp==3.11.0 ; python_version >= "3.9" and python_version < "3.10"
