@tailwind base;
@tailwind components;
@tailwind utilities;

/* Config for DaisyUI */
:root {
  --rounded-box: 0.25rem; /* border-radius for cards and other big elements */
  --rounded-btn: 0.25rem; /* border-radius for buttons and similar elements */
  --rounded-badge: 1rem; /* border-radius for badge and other small elements */

  --animation-btn: 0.25s; /* bounce animation time for button */
  --animation-input: 0.2s; /* bounce animation time for checkbox, toggle, etc */

  --padding-card: 2rem; /* default card-body padding */

  --btn-text-case: uppercase; /* default text case for buttons */
  --border-btn: 1px; /* default border size for button */

  --navbar-padding: 0.5rem; /* default padding for navbar */
}
