{%- set locale = get_locale() -%}
<!doctype html>
<html lang="{{ locale.language }}">
<head>
  <meta charset="utf-8"/>
  <title>
    {%- block page_title %}{{ config.SITE_NAME }}{% endblock page_title -%}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="description" content=""/>
  <meta name="author" content=""/>

  {%- if vite_dev_server() %}
    {# Development mode - Vite dev server #}
    <script type="module" src="http://localhost:5173/@vite/client"></script>
    <link href="{{ vite_asset('styles.css') }}" rel="stylesheet"/>
  {%- else %}
    {# Production mode - built assets #}
    <link href="{{ url_for('vite_static', filename='styles.css') }}" rel="stylesheet"/>
  {%- endif %}
  {%- block css %}{%- endblock css %}

  <!-- Le fav and touch icons -->
  <link
      rel="shortcut icon"
      type="image/png"
      href="{{ config['FAVICO_URL'] | string }}"/>
  <link
      rel="apple-touch-icon"
      type="image/png"
      href="{{ config['FAVICO_URL'] | string }}"/>

  {# Essential JavaScript libraries for legacy compatibility #}
  <script src="{{ url_for('abilian_static', filename='jquery/js/jquery-1.11.3.js') }}"></script>
  <script src="{{ url_for('abilian_static', filename='bootbox/bootbox.js') }}"></script>
  <script src="{{ url_for('abilian_static', filename='fileapi/FileAPI.js') }}"></script>
  <script src="{{ url_for('abilian_static', filename='js/abilian-namespace.js') }}"></script>

  {# Alpine.js for interactivity #}
  <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>

  {# RequireJS shim for legacy code #}
  <script>
    // Minimal RequireJS shim for backward compatibility
    window.require = window.require || function(deps, callback) {
      if (typeof deps === 'string') {
        // Single module require
        return window[deps] || {};
      }
      // Multiple dependencies - execute callback immediately with available globals
      var modules = [];
      if (Array.isArray(deps)) {
        deps.forEach(function(dep) {
          if (dep === 'jquery') modules.push(window.jQuery || window.$);
          else if (dep === 'Abilian') modules.push(window.Abilian || {});
          else if (dep === 'domReady!' || dep === 'domReady') modules.push(document);
          else if (dep === 'bootbox') modules.push(window.bootbox || {});
          else if (dep === 'FileAPI') modules.push(window.FileAPI || {});
          else if (dep === 'AbilianNS') modules.push(window.Abilian || {});
          else if (dep === 'SBEFolderListingSetup') modules.push(window.SBEFolderListingSetup || function(){});
          else if (dep === 'SBEFolderGalleryListingSetup') modules.push(window.SBEFolderGalleryListingSetup || function(){});
          else if (dep === 'jquery.dataTables') modules.push(window.jQuery.fn.dataTable || {});
          else modules.push(window[dep] || {});
        });
      }
      if (callback) {
        if (document.readyState === 'loading') {
          document.addEventListener('DOMContentLoaded', function() {
            callback.apply(null, modules);
          });
        } else {
          setTimeout(function() { callback.apply(null, modules); }, 0);
        }
      }
    };

    window.define = window.define || function(name, deps, factory) {
      var module;
      if (typeof name === 'string' && Array.isArray(deps) && typeof factory === 'function') {
        // Named module with dependencies
        var modules = [];
        deps.forEach(function(dep) {
          if (dep === 'jquery') modules.push(window.jQuery || window.$);
          else if (dep === 'bootbox') modules.push(window.bootbox || {});
          else if (dep === 'FileAPI') modules.push(window.FileAPI || {});
          else if (dep === 'AbilianNS') modules.push(window.Abilian || {});
          else modules.push(window[dep] || {});
        });
        module = factory.apply(null, modules);
        window[name] = module;
      } else if (typeof name === 'function') {
        // Anonymous module
        module = name();
      } else if (Array.isArray(name) && typeof deps === 'function') {
        // Module with dependencies but no name
        var modules = [];
        name.forEach(function(dep) {
          if (dep === 'jquery') modules.push(window.jQuery || window.$);
          else modules.push(window[dep] || {});
        });
        module = deps.apply(null, modules);
      }
      return module;
    };
    define.amd = true;
  </script>

  {%- set sentry_url = config.get("SENTRY_SDK_URL") %}
  {%- set sentry_dsn = config.get("SENTRY_DSN") %}
  {%- if sentry_url and sentry_dsn %}
    <script src="{{ sentry_url }}" crossorigin="anonymous"></script>
    <script>
      var dsn = {{ sentry_dsn | tojson }};
      var app_name = {{ (app.name+'_front') | tojson }};
      var server_name = {{ config.get('SERVER_NAME', 'unknown') | tojson }};

      if (typeof Sentry != "undefined") {
        Sentry.init({dsn: dsn});
        Sentry.configureScope(function (scope) {
          scope.setTag("app_name", app_name);
          scope.setTag("server_name", server_name);
        });
      }
    </script>
  {%- endif %}

  {%- block top_js %}{%- endblock top_js %}

</head>

<body {%- if body_class is defined %} class="{{ body_class }}" {% endif -%}>
{%- block body %} {#- accessibility link: see
    http://getbootstrap.com/getting-started/#accessibility #}
  <a href="#content" class="sr-only">{{ _("Skip to content") }}</a>

  <!-- navbar -->
  {% include "navbar.html" %}

  <div id="content" class="container clearfix">
    <!-- breadcrumbs -->
    {% if g.breadcrumb|length > 1 %}
      <div class="row">
        <div class="col-xs-12">{% include "breadcrumbs.html" %}</div>
      </div>
    {% endif %}

    <!-- flash messages -->
    <div class="row" id="flash-messages">
      <div class="col-xs-12">{%- include "flash-messages.html" %}</div>
    </div>

    <div class="row">
      <header class="col-xs-12">
        {% block header %} {%- endblock header %}
      </header>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="main-block">
          {% block main %}
            <div class="content-block">
              {% block content %} {% endblock content %}
            </div>
          {%- endblock main %}
        </div>
      </div>
    </div>
  </div>

  {%- block footer %}
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <hr/>
            <p class="text-right">
              <small
              >Powered by <a href="https://www.abilian.com/">Abilian</a>
              </small>
            </p>
          </div>
        </div>
      </div>
    </footer>
  {%- endblock footer %}
{%- endblock body %}

{# Essential JavaScript for Abilian functionality #}
<script src="{{ url_for('abilian_static', filename='datatables/js/jquery.dataTables.js') }}"></script>
<script src="{{ url_for('abilian_static', filename='select2/select2.js') }}"></script>
<script src="{{ url_for('abilian_static', filename='js/abilian.js') }}"></script>
<script src="{{ url_for('abilian_static', filename='js/datatables-setup.js') }}"></script>
<script src="{{ url_for('abilian_static', filename='js/widgets/base.js') }}"></script>
<script src="{{ url_for('abilian_sbe_static', filename='js/sbe-datatable.js') }}"></script>
<script src="{{ url_for('abilian_sbe_static', filename='js/folder.js') }}"></script>

{%- block js %}{%- endblock js %} {# this block should be
    used to load additional libraries #}

<!-- app init -->
<script type="text/javascript">
  {%- include "abilian_init.js" %}
</script>

{# i18n bundles - TODO: implement Vite-based i18n if needed #}

{% block locale_js %} {% endblock locale_js %}
{#- 'abilian_init.js' will load additional libraries by writing new 'script'
    tags. We put deferred JS and inline_js in a separate script tag so that the
    code is executed after thoses libraries have been loaded. #}

<script type="text/javascript">
  {% deferredJS %}{% enddeferredJS %}

  {% block inline_js %}{% endblock inline_js %}

  {#- template can also use an 'inline_js' variable #}
  {%- set inline_js = inline_js|default(None) %}
  {%- if inline_js %}
    {{ inline_js }}
  {%- endif %}
</script>

{%- if config.TRACKING_CODE %} {{ config.TRACKING_CODE | safe }} {%- endif %}
</body>
</html>
