# THIS IS NOT A BUILDOUT FILE, despite purposedly using a compatible syntax.
# The only allowed lines here are (regexes):
# - "^#" comments, copied verbatim
# - "^[" section beginings, copied verbatim
# - lines containing an "=" sign which must fit in the following categorie.
#   - "^\s*filename\s*=\s*path\s*$" where "path" is relative to this file
#     Copied verbatim.
#   - "^\s*hashtype\s*=.*" where "hashtype" is one of the values supported
#     by the re-generation script.
#     Re-generated.
# - other lines are copied verbatim
# Substitution (${...:...}), extension ([buildout] extends = ...) and
# section inheritance (< = ...) are NOT supported (but you should really
# not need these here).

[instance]
filename = instance.cfg.in
md5sum = dfac13d7b1150b30abb5a5cd0d53fad4

[instance-sbe.cfg.in]
filename = instance-sbe.cfg.in
md5sum = 46bb8dc6a36f5b7c23bb94b6f7592225

[template-clamd-conf]
filename = clamd.conf.j2
md5sum = 3e2866041c7bbd82e97cf52c094c3a78

[template-freshclam-conf]
filename = freshclam.conf.j2
md5sum = e30c69b130dd9cc95fb842540255f7d9
