{% extends base_template %}
{% from "macros/box.html" import m_box_content with context %}

{% block content %}
  {%- block before_form %}
  {%- endblock %}

  {%- call m_box_content(view.title) %}
    <div class="overflow-hidden border border-gray-200 rounded-lg my-3">
      <table class="min-w-full divide-y divide-gray-200">
        <tbody class="bg-white divide-y divide-gray-100">
        {%- for field in form %}
          {%- if field.data or field.flags.render_empty %}
            <tr class="hover:bg-gray-50">
              <td class="px-4 py-3 text-sm font-medium text-gray-700 w-1/3">{{ field.label }}</td>
              <td class="px-4 py-3 text-sm text-gray-900" colspan="3">{{ field.render_view() | safe }}</td>
            </tr>
          {%- endif %}
        {%- endfor %}
        </tbody>
      </table>
    </div>
  {%- endcall %}

  {%- block after_form %}
  {%- endblock %}
{% endblock %}
